<a href="https://colab.research.google.com/github/esmael-uta/FrontierTechMLBootcamp2025/blob/main/FTL_pair_coding2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

In [ ]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return 3.1416 * (self.radius ** 2)  # Approximate value of Ï€ (pi)

    def calculate_perimeter(self):
        return 2 * 3.1416 * self.radius

    def display_details(self):
        print(f"Circle with radius: {self.radius}")
        print(f"Area: {self.calculate_area():.2f}")
        print(f"Perimeter: {self.calculate_perimeter():.2f}")

# Example Usage
radius = float(input("Enter the radius of the circle: "))
my_circle = Circle(radius)  # Creating an instance of the Circle class
my_circle.display_details()  # Display the results

Enter the radius of the circle: 20
Circle with radius: 20.0
Area: 1256.64
Perimeter: 125.66

# Question 2

In [ ]:
class calculator:
  def add(self,a,b):
    return a+b

  def subtract(self,a,b):
    return a-b

  def multiply(self,a,b):
    return a*b

  def divide(self,a,b):
    if b != 0:
      return a/b
    else:
      return "error! division by 0"

  def power(self,a,b):
    return a**b


calc=calculator()

# Taking user input
a = float(input("Enter the first number (a): "))
b = float(input("Enter the second number (b): "))

# Performing calculations
print("Addition:", calc.add(a, b))
print("Subtraction:", calc.subtract(a, b))
print("Multiplication:", calc.multiply(a, b))
print("Division:", calc.divide(a, b))
print("Exponentiation:", calc.power(a, b))

Enter the first number (a): 6
Enter the second number (b): 2
Addition: 8.0
Subtraction: 4.0
Multiplication: 12.0
Division: 3.0
Exponentiation: 36.0

In [ ]:
calc.divide(2,0)

'error! division by 0'

# Question 3

In [ ]:
from datetime import date

class Person:
    def __init__(self, name, country, birth_year, birth_month, birth_day):
        self.name = name
        self.country = country
        self.birth_date = date(birth_year, birth_month, birth_day)

    def calculate_age(self):
        today = date.today()
        age = today.year - self.birth_date.year
        if (today.month, today.day) < (self.birth_date.month, self.birth_date.day):
            age -= 1
        return age

    def display_info(self):
        print("\nPerson Details:")
        print(f"Name: {self.name}")
        print(f"Country: {self.country}")
        print(f"Date of Birth: {self.birth_date}")
        print(f"Age: {self.calculate_age()} years old")


name = input("Enter your name: ")
country = input("Enter your country: ")
birth_year = int(input("Enter your birth year (YYYY): "))
birth_month = int(input("Enter your birth month (MM): "))
birth_day = int(input("Enter your birth day (DD): "))
user_person = Person(name, country, birth_year, birth_month, birth_day)
user_person.display_info()

Enter your name: hhh
Enter your country: Ethiopia
Enter your birth year (YYYY): 1999
Enter your birth month (MM): 5
Enter your birth day (DD): 12

Person Details:
Name: hhh
Country: Ethiopia
Date of Birth: 1999-05-12
Age: 25 years old

# NASA API Exercise

In [ ]:
import requests

In [ ]:
api_key = "DEMO_KEY"
web_address = "https://api.nasa.gov/planetary/apod"

In [ ]:
params = {
    "api_key": api_key
}

In [ ]:
response = requests.get(web_address, params=params)

In [ ]:
print(response.json())

{'date': '2025-03-08', 'explanation': "The plane of our Milky Way galaxy extends beyond the limb of planet Earth in this space age exposure captured by astronaut Don Pettit. His camera, with low light and long duration settings, was pointed out the window of a Dragon crew spacecraft docked with the International Space Station on January 29. The orbital outpost was at an altitude of about 400 kilometers above the Pacific Ocean at the time. Motion blurs the Earth below, while the gorgeous view from low Earth orbit includes the Milky Way's prominent satellite galaxies, known as the Large and Small Magellanic Clouds, near the upper left in the frame. Fans of southern skies can also spot the Southern Cross. The four brightest stars of the famous southern constellation Crux are near picture center, just beyond the edge of the bright horizon and shining through Earth's orange tinted atmospheric glow.", 'hdurl': 'https://apod.nasa.gov/apod/image/2503/iss072e574593_DonPetit2048.jpg', 'media_type': 'image', 'service_version': 'v1', 'title': 'Galaxies in Space', 'url': 'https://apod.nasa.gov/apod/image/2503/iss072e574593_DonPetit1024.jpg'}

In [ ]:
class APODResponse:
    def __init__(self, title, date, explanation, media_type, url):
        self.title = title
        self.date = date
        self.explanation = explanation
        self.media_type = media_type
        self.url = url

if response.status_code == 200:
    apod = APODResponse(
        title=data['title'],
        date=data['date'],
        explanation=data['explanation'],
        media_type=data['media_type'],
        url=data['url']
    )

    print("\nAPOD Object:")
    print("Title:", apod.title)
    print("Date:", apod.date)
    print("Explanation:", apod.explanation)
    print("Media Type:", apod.media_type)
    print("Media URL:", apod.url)

APOD Object:
Title: Galaxies in Space
Date: 2025-03-08
Explanation: The plane of our Milky Way galaxy extends beyond the limb of planet Earth in this space age exposure captured by astronaut Don Pettit. His camera, with low light and long duration settings, was pointed out the window of a Dragon crew spacecraft docked with the International Space Station on January 29. The orbital outpost was at an altitude of about 400 kilometers above the Pacific Ocean at the time. Motion blurs the Earth below, while the gorgeous view from low Earth orbit includes the Milky Way's prominent satellite galaxies, known as the Large and Small Magellanic Clouds, near the upper left in the frame. Fans of southern skies can also spot the Southern Cross. The four brightest stars of the famous southern constellation Crux are near picture center, just beyond the edge of the bright horizon and shining through Earth's orange tinted atmospheric glow.
Media Type: image
Media URL: https://apod.nasa.gov/apod/image/2503/iss072e574593_DonPetit1024.jpg

# Web Scrapping

In [ ]:
!pip install beautifulsoup4 requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.3)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)

In [ ]:
import os
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

In [ ]:
# Input: Website URL
url = input("Enter the URL of the website: ")

# Send HTTP request to fetch the webpage content
response = requests.get(url)

Enter the URL of the website: https://www.google.com/search?sca_esv=e7d996242d1e6e68&sxsrf=AHTn8zpN6dn9r9PutFATUrtUp65GxXCyxg:1741459803923&q=animal+images&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpA-dk4wpBWOGsoR7DG5zJBjLjqIC1CYKD9D-DQAQS3Z49oR1qp-GHVCzRMbvBmBq7dvB0LfFrS0yfdVu9QC41FfnmUA8BGqCgTUOqxdhuY5xd_J4jijpoiGckU-PGJwiMIAxOP5sUSlEgz-7gAcLAg541zrc6eMyhiHKLlvAWDiuUlCckwhI5a5_QfupVmxvoz63RwA&sa=X&ved=2ahUKEwj3nYOok_uLAxUfZvUHHVWzO6cQtKgLegQIEBAB&biw=1266&bih=586&dpr=1.5

In [ ]:
if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")

    folder_name = "scraped_images"
    os.makedirs(folder_name, exist_ok=True)

    img_tags = soup.find_all("img")

    # Download and save images
    for i, img in enumerate(img_tags):
        img_url = img.get("src")
        if img_url:
          img_url = urljoin(url, img_url)

          # Fetch image content
          img_data = requests.get(img_url).content

          # Save image to folder
            with open(os.path.join(folder_name, f"image_{i+1}.jpg"), "wb") as f:
                f.write(img_data)
            print(f"Downloaded: image_{i+1}.jpg")

    print("All images downloaded successfully!")
else:
    print("Failed to fetch the webpage. Please check the URL.")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# SQLite3

In [ ]:
import sqlite3

# 1. Create the database and table
def create_database():
    """Creates the 'School' database and the 'students' table."""
    conn = sqlite3.connect('School.db')  # Connect to the database (creates if not exists)
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS students (
            id INTEGER PRIMARY KEY,
            last_name TEXT,
            first_name TEXT,
            age INTEGER
        )
    ''')

    conn.commit()
    conn.close()
    print("Database 'School.db' and table 'students' created successfully.")

In [ ]:
# 2. Insert records (data)
def insert_records(students_data):
    """Inserts multiple student records into the 'students' table."""
    conn = sqlite3.connect('School.db')
    cursor = conn.cursor()

    cursor.executemany('''
        INSERT INTO students (last_name, first_name, age) VALUES (?, ?, ?)
    ''', students_data)  # Use executemany for efficiency

    conn.commit()
    conn.close()
    print(f"{len(students_data)} records inserted successfully.")

In [ ]:
# 3. Modify records
def modify_record(student_id, new_age):
    """Modifies the age of a student based on their ID."""
    conn = sqlite3.connect('School.db')
    cursor = conn.cursor()

    cursor.execute('''
        UPDATE students SET age = ? WHERE id = ?
    ''', (new_age, student_id))

    if cursor.rowcount > 0:
        conn.commit()
        conn.close()
        print(f"Student with ID {student_id} updated successfully.")
    else:
        conn.close()
        print(f"Student with ID {student_id} not found.")

In [ ]:
# 4. Perform a query to select data
def select_all_students():
    """Retrieves all student records from the 'students' table."""
    conn = sqlite3.connect('School.db')
    cursor = conn.cursor()

    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()

    conn.close()
    return rows

# Example Usage:
create_database()

students = [
    ('Doe', 'John', 16),
    ('Smith', 'Jane', 17),
    ('Williams', 'David', 15)
]
insert_records(students)

modify_record(2, 18)  # Change Jane Smith's age to 18

all_students = select_all_students()
print("\nAll Students:")
for student in all_students:
    print(student)

Database 'School.db' and table 'students' created successfully.
3 records inserted successfully.
Student with ID 2 updated successfully.

All Students:
(1, 'Doe', 'John', 16)
(2, 'Smith', 'Jane', 18)
(3, 'Williams', 'David', 15)