# **SQLite Browser Assignment: Personal Book Library**

In [1]:
import sqlite3

# Step 1: Database Creation

In [2]:
def create_database():
    # Connect to database (creates it if it doesn't exist)
    conn = sqlite3.connect("PersonalLibrary.db")
    cursor = conn.cursor()
    return conn, cursor

# Step 2: Table Design

In [3]:

def create_table(cursor):
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Books (
            BookID INTEGER PRIMARY KEY,
            Title TEXT NOT NULL,
            Author TEXT NOT NULL,
            YearPublished INTEGER,
            Genre TEXT
        )
    ''')

# Step 3: Data Insertion

In [4]:
def insert_data(cursor):
    books = [
        (1, "To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
        (2, "1984", "George Orwell", 1949, "Fiction"),
        (3, "The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
        (4, "Sapiens", "Yuval Noah Harari", 2011, "Non-Fiction"),
        (5, "The Hobbit", "J.R.R. Tolkien", 1937, "Fantasy")
    ]
    
    cursor.executemany('''
        INSERT INTO Books (BookID, Title, Author, YearPublished, Genre)
        VALUES (?, ?, ?, ?, ?)
    ''', books)

# Step 4: Data Retrieval

In [5]:
def query_data(cursor):
    # Query 1: List all books
    print("\nAll Books:")
    cursor.execute("SELECT * FROM Books")
    for row in cursor.fetchall():
        print(row)
    
    # Query 2: Books published after 2000
    print("\nBooks after 2000:")
    cursor.execute("SELECT Title, Author, YearPublished FROM Books WHERE YearPublished > 2000")
    for row in cursor.fetchall():
        print(row)
    
    # Query 3: Fiction books
    print("\nFiction Books:")
    cursor.execute("SELECT Title, Author FROM Books WHERE Genre = 'Fiction'")
    for row in cursor.fetchall():
        print(row)

# Step 5: Data Manipulation

In [6]:
def manipulate_data(cursor):
    # Update YearPublished for one book
    cursor.execute("UPDATE Books SET YearPublished = 2025 WHERE BookID = 1")
    print("\nUpdated 'To Kill a Mockingbird' year to 2025")
    
    # Delete one book
    cursor.execute("DELETE FROM Books WHERE BookID = 2")
    print("Deleted '1984'")

In [9]:
def main():
    # Setup
    conn, cursor = create_database()
    # Create table
    create_table(cursor)
    
    # Insert initial data
    insert_data(cursor)
    
    # Show initial state
    query_data(cursor)
    
    # Perform manipulations
    manipulate_data(cursor)
    
    # Show final state
    print("\nFinal state of database:")
    cursor.execute("SELECT * FROM Books")
    for row in cursor.fetchall():
        print(row)
    
    # Commit changes and close
    conn.commit()
    conn.close()

if __name__ == "__main__":
    main()

All Books:
(1, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Fiction')
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(4, 'Sapiens', 'Yuval Noah Harari', 2011, 'Non-Fiction')
(5, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')

Books after 2000:
('Sapiens', 'Yuval Noah Harari', 2011)

Fiction Books:
('To Kill a Mockingbird', 'Harper Lee')
('1984', 'George Orwell')
('The Great Gatsby', 'F. Scott Fitzgerald')

Updated 'To Kill a Mockingbird' year to 2025
Deleted '1984'

Final state of database:
(1, 'To Kill a Mockingbird', 'Harper Lee', 2025, 'Fiction')
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(4, 'Sapiens', 'Yuval Noah Harari', 2011, 'Non-Fiction')
(5, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')